@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

nav{
    height: 10vh;
    background-color: gray;
}
section{
    padding-inline: 200px;
    margin-bottom: 100px;
}
section#slider{
    padding:0px !important;
    height: 75vh;
    background-image: url('/img/bola berkelahi.jpg');
    background-size: cover;
}
.slider-item{
}
section#hot{
    background-color: yellow;
    padding: 50px !important
}
article{
    height: 500px;
    background-color: red;
}
aside{
    height: 500px;
    background-color: blue;
}
.promo-area{
    border: 1px solid teal;
    border-radius: 10px;
    padding: 25px;
}
.promo-item{
    border: 1px solid grey;
    border-radius: 5px;
    height: 200px;
    width: 100%;
}
footer{
    height: 300px;
    background-color: teal;
}
.hot-item{
    border: 1px solid grey;
    border-radius: 5px;
    height: 200px;
    width: 100%;
    background-color: white;
}
section#latest{
    padding-inline: 100px;
}
.latest-item-header{
    border: 1px solid grey;
    border-radius: 5px;
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
}
.latest-item{
    border: 1px solid grey;
    border-radius: 5px;
    height: 150px;
    width: 100%;
}
.latest-category{
    border: 1px solid teal;
    border-radius: 1px;
    height:auto;
    width: 100%;
}